{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "globals": {
        "JSX": "readonly"
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "no-unused-vars": "warn"
    }
}
